h1{color: black; font-size: 3vw; text-align: center; font-family: "Luminari", fantasy; font-style: italic; letter-spacing: 6px; line-height: 40px; }  
h2{color: rgb(121, 121, 121); font-size: 2vw; text-align: center; font-family: "Luminari", fantasy; font-style: italic; letter-spacing: 6px; line-height: 18px;}  


body {background-color: rgb(255, 248, 209);}

